h3 {
	text-align:center;
}

.description-container {
	text-align: center;
}

.faq-container {
	padding:70px;
}

.sponsor-img {
	display:block;
	margin-left: auto;
	margin-right: auto;
}

#preq-container {
	background-color: #eef6fd;
	border-radius: 5px;
	padding: 10px;
}

.download-container {
 	background-color: #eef6fd;
 	/* top right bottom left */
 	padding: 10px 10px 20px 10px;
   margin-top: 30px;
   text-align: center;
}

.btn-download {
   width: 150px;
}

/*
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.

Reference: http://css-tricks.com/responsive-data-tables/;

Used by mailing lists
*/
@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr {
		display: block;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	tr { border: 1px solid #ccc; }

	td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
	}

	td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	}
}
